html
{
	scroll-behavior:smooth;
}
body
{
	text-align:center;
	background:linear-gradient(45deg,orange,white,green);
}
#links a 
{
	text-decoration:none;
	text-transform:uppercase;
	margin:15px 10px;
	position:relative;
	top:10px;
	background:linear-gradient(45deg,limegreen,grey,coral);
	color:white;
	border-radius:10px;
	padding:5px 10px;
}
#links
{
	position:sticky;
	top:0px;
}
#links a:hover
{
	box-shadow:0 0 10px blue;
}
#home h1
{
	font-size:40px;
	margin-top:30px;
	background-color: yellow;
	
}


h2
{
	font-size:30px;
	background:linear-gradient(45deg,green,blue,orange);
	color:white;
	width:60%;
	margin:auto;
	padding:12px;
	border-radius:60px 60px 0px 0px;
	box-shadow:0 0 10px blue;
	border-bottom:6px solid white;
}
table
{
	width:100%;
}
img
{
	border-radius:10px;
	box-shadow:0 0 10px green;
	height: 500px;
	width: 1000px;
}
p
{
	font-size:17px;
	font-family:'comic sans ms';
}
